body {
    font-family: "San Francisco", sans-serif;
    margin: 0;
    background: #202020;
}

@font-face {
    font-family: "San Francisco";
    font-weight: 600;
    src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-regular-webfont.woff");
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    height: 200px;
    background: linear-gradient(to bottom, #101010, #202020);
}

#navheader {
    background: url("assets/hero.png") no-repeat center;
    background-size: cover;
    height: 800px;
}

/*HOMEPAGE*/

.navigation {
    display: flex;
    justify-content: center;
    width: 80%;
}

#jazici {
    display: flex;
    justify-content: space-around;
    width: 80%;
}

#jazici .button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1.05em;
    height: 0.4em;
    width: 3em;
    padding: 1em;
    border: 0.15em solid lightgrey;
    border-radius: 1.5em;
}

.menu {
    list-style: none;
    padding: 3% 15% 0 15%;
    width: 80%;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
    text-transform: capitalize;
}

.socials {
    list-style: none;
    margin-top: 20%;
    padding: 0;
    display: flex;
    width: 80%;
    justify-content: center;
}

.social-item {
    height: 50px;
    width: 50px;
    margin: 0 10px 0 10px;
}

.instagram {
    background: url("assets/instagram.png") no-repeat;
    background-size: contain;
}

.twitter {
    background: url("assets/twitter.png") no-repeat;
    background-size: contain;
}

.linkedin {
    background: url("assets/linkedin.png") no-repeat;
    background-size: contain;
}

.github {
    background: url("assets/github.png") no-repeat;
    background-size: contain;
}

.menu-item {
    text-decoration: none;
    color: #BBBBBB;
}

.menu-item:hover {
    text-shadow: 3px 3px 10px grey;
    color: #AAAAAA;
}

.menu .active {
    color: white;
}

.menu .active:hover {
    color: #AAAAAA;
}

.meetdamjan {
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 3%;
}

.fleks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 60%;
    border: 3px solid lightgrey;
    border-radius: 1em;
    padding: 1.5%;
}

.caption {
    width: 70%;
}

.fleks h2 {
    color: white;
    font-weight: bold;
    font-size: 2em;
}

.fleks p {
    color: lightgrey;
    font-size: 1.15em;
}

.fleks img {
    height: 250px;
    width: 250px;
    border-radius: 100%;
    margin-right: 2em;
    border: 0.15em solid lightgrey;
}

footer {
    height: fit-content;
}

.dolen {
    background: linear-gradient(#202020, #333333, #333333, #333333, #202020);
    display: flex;
    justify-content: center;
    padding: 3em;
}

.bottom {
    width: 50%;
    display: flex;
    justify-content: space-around;
}

.bottomitem {
    width: 30%;
}

.bottom h3 {
    color: white;
    font-size: 1.5em;
}

.bottom a {
    display: block;
    text-decoration: none;
    color: lightgrey;
    font-size: 1.1em;
    margin: 0.7em 0 0.7em 0;

}

.bottom a:hover {
    text-decoration: underline;

}

/*HOMEPAGE*/

/*TECHPAGE*/


h1 {
    font-size: 2.5em;
}

#techbodi hr {
    width: 100%;
    border: 1px solid dimgrey;
}

#technaslov {
    width: 80%;
}

#techbodi {
    text-align: center;
    color: white;
    height: fit-content;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.artikl {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70%;
    padding: 1%;
    border: 1px solid dimgrey;
    border-radius: 10px;
    margin: 2em;
}


#techbodi img {
    width: 35%;
    object-fit: contain;
}

#techbodi p {
    text-align: start;
    font-size: 1.05em;
    line-height: 2em;
}

#techbodi .artikl #cooler {
    width: 44%;
}

#techbodi .artikl #mouse {
    width: 30%;
}

#techbodi .artikl #headphones {
    width: 17%;
}

#apple p {
    text-align: end;
}

#divlogo {
    width: 100%;
    display: flex;
    justify-content: center;
}

#logo {
    width: 20em;
}

#techbodi .artikl #airpods {
    width: 18%;
}

/*TECHPAGE*/

/*CAREERPAGE*/

#karier {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

#glaven {
    width: 80%;
    margin-bottom: 5em;
}

.row {
    display: flex;
    justify-content: space-evenly;
}

#glaven > .row > div {
    border-radius: 1em;
    border: 0.15em solid grey;
    padding: 1.5em;
    color: white;
}

.main {
    width: 65%;
}

#glaven h2 {
    font-size: 2.2em;
    margin-top: 0;
    margin-bottom: 0.3em;
}

#glaven h4 {
    margin-bottom: 0;
    margin-top: 0;
    color: grey;
}

#glaven h3 {
    margin: 0.3em 0 0.3em 0;
    color: lightgrey;
    font-size: 1.2em;
}

#glaven h5 {
    color: lightgrey;
    font-size: 1.1em;
}

.kurs {
    display: flex;
    margin: 1em;
    align-items: center;
    justify-content: start;
    width: 90%;
}

.kurs > div {
    width: 70%;
    margin-left: 2em;
}

.kurs > div > a {
    text-decoration: none;
    color: white;
}

.kurs > div > a :hover {
    text-decoration: underline;
    color: white;
}

#glaven img {
    width: 100%;
    border-radius: 1em;
    margin-right: 2em;
}

#glaven a {
    width: 30%;
}

#glaven h1 {
    font-size: 1.8em;
}

.gradient {
    display: flex;
    width: 90%;
}

.lineargradient {
    height: 1em;
    width: 50%;
    background: #131e30;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-right: 0;
    padding-right: 0;
}

.lineargradient1 {
    width: 50%;
    height: 1em;
    background: #49566b;
    margin-left: 0;
    padding-left: 0;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

#\31 1 {
    width: 90%
}

#\31 11 {
    width: 10%
}

#\32 2 {
    width: 75%
}

#\32 22 {
    width: 25%
}

#\33 3 {
    width: 60%
}

#\33 33 {
    width: 40%
}

#\34 4 {
    width: 70%
}

#\34 44 {
    width: 30%
}


/*CAREERPAGE*/

/*ABOUTMEPAGE*/

#zamene {
    text-align: center;
    color: white;
}

#zamene hr {
    border: 1px solid lightgrey;
}

#aboutsekcija {
    margin-top: 3em;
    display: flex;
    justify-content: center;
}

#kontent {
    width: 60%;
    text-align: center;
}

.card {
    margin-top: 2em;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    border: 0.2em solid lightgrey;
    padding: 2em;
}

.card1 {
    margin-top: 2em;
    border-radius: 10px;
    border: 0.2em solid lightgrey;
}

.card1 img {
    width: 100%;
    border-radius: 10px;
}

#kontent p {
    width: 70%;
    margin: 2em auto 2em auto;
    font-size: 1.25em;
    line-height: 1.5em;

}

.icon {
    height: 12em;
}

#kontent > img {
    height: 18em;
    border-radius: 100%;
    border: 0.15em solid lightgrey;
}


/*ABOUTMEPAGE*/
#futer {
    text-align: center;
    color: grey;
}